# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Jupyter / Colab
.ipynb_checkpoints/

# Data (חשוב!)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Outputs
outputs/*
!outputs/.gitkeep

# Models
*.pkl
*.joblib
*.h5

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code / PyCharm
.vscode/
.idea/

# Kaggle
kaggle.json

# Colab temporary
/content/